<!DOCTYPE html>
<html>

<head>
    <title>Add Post</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/profile.css">
    <link rel="stylesheet" href="../static/index.css">
    <style>

    </style>
</head>

<body>
    <div class="header">
        <!-- Header content -->
    </div>
    <form action="{{ url_for('add_post') }}" method="POST" enctype="multipart/form-data">
        <div class="login-box">
            <b>
                <h1 style="color: #56d8e4 ">Add Post</h1>
            </b>
            <div>
                <label for="floatingInput">Title</label>
                <input class="form-control" id="floatingInput" type="text" id="title" name="title"><br>

                <label for="content">Content:</label><br>
                <textarea id="content" name="content"></textarea><br>

                <label for="file">Upload File:</label><br>
                <input type="file" id="file" name="file"><br>

                <input type="submit" value="Submit">
            </div>
        </div>
    </form>
    <footer>
        &copy; 2023 Hackers Community
    </footer>
    <div class="sticky-element">
        <a href="https://t.me/hackers_co" target="_blank" style="text-decoration: none; color: #fff;">
            Join our Telegram Channel
        </a>
    </div>
    <script disable-devtool-auto src='https://cdn.jsdelivr.net/npm/disable-devtool' clear-log='true'></script>


</body>

</html>