<!DOCTYPE html>
<html>

<head>
    <title>Add Post</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/profile.css">
    <link rel="stylesheet" href="../static/index.css">
    <style>

    </style>
</head>

<body>
    <div class="header">
        <div < class="inner-header flex">
            <!-- svg-->
            <h1 style="color: black;">AI Community</h1>
            <ul>
                <li><a href="/">Home</a></li>
                {% if not session.logged_in %}
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Register</a></li>
                {% endif %}
                <!-- <li><a href="/dashboard">Dashboard</a></li> -->
                {% if session.logged_in %}
                <li> <a href="/profile">Profile</a></li>
                <li> <a href="/add_post">Post</a></li>
                <li><a href="/logout">Logout</a></li>
                {% endif %}
            </ul>
        </div>
        <!--Waves Container-->
        <div>
            <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
                <defs>
                    <path id="gentle-wave"
                        d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
                </defs>
                <g class="parallax">
                    <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
                    <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
                    <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
                    <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
                </g>
            </svg>
        </div>
    </div>
    <form action="{{ url_for('add_post') }}" method="POST" enctype="multipart/form-data">
        <div class="login-box">
            <b>
                <h1 style="color: #56d8e4 ">Add Post</h1>
            </b>
            <div>
                <!-- <label for="title">Title:</label><br> -->
                <label for="floatingInput">Title</label>
                <input class="form-control" id="floatingInput" type="text" id="title" name="title"><br>

                <label for="content">Content:</label><br>
                <textarea id="content" name="content"></textarea><br>
                <!-- <input type="submit" value="Submit"> -->
                
                    <!-- Your form fields here -->
                <input type="file" name="file" multiple>
                <input type="submit" value="Submit"> </form>
            </div>
    
            <!-- <button type="submit">Submit</button> -->
    </form>
    </div>
    <footer>
        &copy; 2023 AI Community
    </footer>


     <!--sticky-element-->
    </div>
    <script disable-devtool-auto src='https://cdn.jsdelivr.net/npm/disable-devtool' clear-log='true'></script>


</body>

</html>